%html
  %link(rel="stylesheet" type="text/css" href="style.css")
%body
  %table
    %tbody
      %tr
        %th Requester
        %th Song Title
        %th Artist
        %th Thumbnail
      - @song_queue[:songs].each do |song|
        %tr
          %td= song[:user]
          %td= song[:song_data]['title']
          %td= song[:song_data]['author_name']
          %td
            %img{:src => song[:song_data]['thumbnail_url']}
