.info {
  color: #00dfb1;
}

th {
  text-align: center;
  color: #00dfb1 !important;
}

td {
  text-align: center;
  color: #00dfb1 !important;
}

body {
  background-color: black;
}

.container-background {
  background-color: #343a40;
}

.rounded-corners {
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #D425FF !important;
}

.table td, .table th {
  border-top: 0px !important;
  vertical-align: middle;
}

.table {
  border-radius: 10px !important;
}

.top-border {
  border-top: 2px solid #D425FF;
}

.bold {
  font-weight: bold;
}

.glow {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes glow {
  from { -webkit-filter: drop-shadow(0px 0px 0px #D425FF); }
  to { -webkit-filter: drop-shadow(0px 0px 20px #D425FF); }
}

.padding {
  padding-bottom: 10px;
}

.slim {
  height: 5px !important;
  font-size: 10;
  padding-top: 5px;
  padding-bottom: 20px;
}

.custom-danger {
  background-color: #FF304B;
  border-color: #FF304B;
}

.autorefresh-off {
  font-size: 12;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #FF304B !important;
  border-color: #FF304B !important;
  color: #00dfb1 !important;
}

.autorefresh-on {
  font-size: 12;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #77D836 !important;
  border-color: #77D836 !important;
  color: #D425FF !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
