api:
  endpoint: 'http://localhost:3000/api'

database:
  host: 'localhost'
  port: 5432
  username: 'root'
  password: ''
  name: 'api_database'

command_prefix: '!pulse'
unknown_response: 'I do not know how to do that.'
forbidden_response: '403 FORBIDDEN'
